In [1]:
import mysql.connector as sql

In [2]:
mydb = sql.connect(host="localhost", user="root", password="")

cursor = mydb.cursor()
db = "create database Books"
cursor.execute(db)

mydb.close()

In [6]:
mydb = sql.connect(host="localhost", user="root", password="", database="Books")

cursor = mydb.cursor()
table = "create table Books1(id integer auto_increment primary key, Title text, Author text );"
cursor.execute(table)

mydb.close()

In [11]:
books = ["Computer Fundamentals and Programming in C",
        "Computer Networks for ANNA University",
        "Object Oriented Analysis and Design",
        "Computer and Information Sciences",
        "Parallel Computing",
        "The Network Designerâ€™s Handbook: 51 CSE",
        "Parallel Programming and Applications",
        "Formal Methods and Software Development",
        "Computer Graphics",
        "Fundamentals of Computer Science Engineering",
        "Artificial Intelligence: A Modern Approach",
        "Pattern Recognition and Machine Learning",
        "Python Machine Learning",
        "Neural Networks and Learning Machines"]

author = ["Reema Thareja",
        "I.A.Dhotre V.S.Bagad",
        "Siddharth Santosh",
        "T. Dayar",
        "M. Bader and A. Bode",
        " A.M. Jones",
        "Peter A. Fritzson and L. Finmo",
        "Maurice Nivat and Hartmut Ehrig",
        "S.Sharanya",
        "A. P. Godse, A. A. Puntambekar",
        "Peter Norvig",
        "Christopher Bishop",
        "Sebastian Raschka",
        "Simon S. Haykin"]

In [12]:
len(books)

14

In [14]:
mydb = sql.connect(host="localhost", user="root", password="", database="Books")

cursor = mydb.cursor()
for i in range(14):
    idata = "insert into Books1(Title, Author) values('{}', '{}')".format(books[i], author[i])
    cursor.execute(idata)
    mydb.commit()

mydb.close()